/*-----------Quiero que esto se aplique a toda la página: 
- Elimino marging y padding por defecto para modificarlo a mi gusto
- Quito las decoraciones de los enlaces y pongo los colores elegidos para la página
- Si hace falta cambiar el color de algún enlace se hará en la sección en concreto que lo necesite */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color:blanchedalmond;
    background-color:rgb(247, 175, 67)
}

a:hover {
    color:white;
}

ul{
    list-style: none;
}

@media (max-width: 768px) {
    .titulo p{
        display:none;
    }
}

h1, h2, h3 {
    font-family: 'Opens Sans', serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/*---------------Estos estilos se hicieron teniendo en cuenta el index y se van a reutilizar para toda la página con modificaciones únicamente en el body--------------- */

/* El header es sticky: baja con la rueda del ratón para tener acceso al menú en todo momento */
header {
    position:sticky;
    top:0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 1000;


    background-image: url("imagenes/cabecera.png");
    background-size:cover;
    background-position: center;
}

header img {
    min-width:100px;
    width:20%;
}

.bhamburguesa {
    position:relative;
    padding-top:1%;
    padding-right:10%;
    justify-self: end;

    transform: translateY(10px);
    transition: 0.3s ease;
}

.bhamburguesa a {
  text-decoration: none;
  color: #333;
  padding: 10px 10px;
  border-radius: 12px;

}

#menu {
    display: none !important; 
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 120px;
    background-color: white;
    border: 2px solid rgb(247, 175, 67);
    padding: 4%;
    gap:7px;
    z-index: 9999;
    min-width: 150px;
}

#menu.mostrar {
    display: flex !important;
}

@media (max-width: 768px) {
    #menu {
    flex-direction: column;
    position: absolute;
    top: 35%;
    right: 5px;
    background-color: white;
    border: 2px solid rgb(247, 175, 67);
    padding: 4%;
    gap:7px;
    z-index: 9999;
    min-width: 150px;
    }
}

/* Quiero que al pulsar el logo se vuelva al índice, 
como tengo un fondo aplicado a los links por defecto se lo quito con transparent */
.link-logo {
    background-color:transparent;
}

.titulo {
    padding-left:20%;
    font-size:larger;
    display:flex;
    flex-direction: column;
    text-align:center;
    justify-content:center;
}

/* Estilo general para todo el cuerpo */
.cuerpo {
    position:static;
    background-color:rgb(255, 234, 209);
    min-height: 100vh;
    min-width: 100%;
    margin-bottom:auto;
    padding:1%;
}

/*Grid para poder colocar los tres botones grandes */
.navegacion-index-lista {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    gap:20px;
}

.nav-menu {
    display:flex;
    align-items: center;
    justify-content:center;
    aspect-ratio: 4 / 3;
    border-radius: 12px;
    background-size: cover;
    background-position:center;
    border-style: groove;
}

/*Zoom en la foto del fondo cuando pasas el ratón por encima*/
.nav-menu:hover{
    transform:scale(1.05, 1.05);
    transition: 0.5s ease;
}

.navegacion-index-lista a {
    text-decoration:none;
    text-shadow:
        2px 2px 4px black,
       -2px 2px 4px black,
        2px -2px 4px black,
       -2px -2px 4px black;
    color:rgb(255, 214, 127);
    background-color: aliceblue;
}

.navegacion-index-lista a:hover {
    color:rgb(255, 174, 0);
}


.nm1 {
    background-image: url("imagenes/pplatos.png");
}

.nm2 {
    background-image: url(imagenes/splatos.png);
}

.nm3 {
    background-image: url(imagenes/postres.png);
}


/* Tres columnas es demasiado grande para pantallas de movil, así que los coloco 
en vertical con @media y una resolución habitual de móvil*/
@media (max-width: 768px) {
    .navegacion-index-lista {
        grid-template-columns: 1fr; 
        gap: 15px;
    }

    .nav-menu {
        aspect-ratio: 16 / 9; 
    }
}


.recetas-recientes {
    padding-top:1%;
}

.recetas-recientes h2 {
    display:flex;
    align-items: center;
    justify-content: center;
}


.recetas-recientes-wrapper {
    max-width: 900px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:30px;
    padding:20px;
}


/*Aquí hago lo mismo para ajustar el tamaño, las últimas recetas se muestran de una en una
en vertical*/
@media (max-width: 768px) {
    .navegacion-index-lista {
        grid-template-columns: 1fr;
    }

    .recetas-recientes-wrapper {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

.recetas-recientes a {
    color:rgb(255, 174, 0);
    background-color:rgb(255, 242, 226);
}

.recetas-recientes a:hover{
    color:rgb(192, 127, 41);
}

.receta {
    display:grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: top;
    

    background-color: rgb(255, 248, 238);
    padding: 15px;
    border-radius: 12px;
    border-style: groove;
    border-color: rgb(255, 214, 127);
}

.receta:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.receta a {
    background-color: transparent;
}

.receta img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.receta h3 {
    display:flex;
    justify-content:center;
    align-items:top;
}

/*--------------------------------------------- */


/*---------------------------------------------------------ESTILOS PRIMEROS PLATOS, SEGUNDOS PLATOS Y POSTRES----------------------------------------------- */
/* Estilos específicos para las páginas de postres, primeros y segundos platos. Se mantiene el formato del index pero las tarjetas son más grandes */

.receta-grande-wrapper {
    display:grid;
    gap:3%;
    margin-bottom:5%;
}
.receta-grande {
    display:grid;
    grid-template-columns: 1fr 3fr;

    gap: 20px;

    background-color: rgb(255, 248, 238);
    padding: 15px;
    border-radius: 12px;
    border-style: groove;
    border-color:rgb(255, 214, 127);
}

.receta-grande h2 {
    display:flex;
    align-items: center;
    justify-content:center;
}

.receta-grande:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.receta-grande img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit:cover;
}


.receta-grande a {
    color:rgb(255, 174, 0);
}

.receta-grande a:hover{
    color:rgb(192, 127, 41);
}

/*--------------------------------------------- */

/*--------------------------------RECETAS--------------------------------*/

.preparacion {
    display:grid;
    grid-template-rows: auto auto;
    gap:1%;
}

.preparacion ul {
    list-style:disc;
    line-height:120%;
}

.preparacion h2 {
    display:flex;
    align-items: center;
    justify-content: center;
}

.preparacion-lista {
    display:grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 1fr;
    margin: 0 auto;
    background-color: rgb(255, 251, 227);
    width:80%;
    border-radius:12px;
}

.preparacion img {
    display:block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    border-radius: 12px;
}

/*La disposición del texto en pc es demasiado amplia para las pantallas de móvil
así que opto por disponerlo en vertical: primero los ingredientes y luego los pasos a seguir*/
@media (max-width: 768px) {
    .preparacion-lista {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
    .preparacion-lista h2 {
        padding-top: 5%;
    }
    .ingredientes {
        padding-left:10%;
    }
    .pasos {
        padding-left:10%;
        padding-bottom:10%;
    }
    
}

/*--------------------------------------------- */

/*---------------------PIDE TU RECETA---------------*/

.titulo-pide-receta {
    padding-top:1%;
    padding-bottom:1%;
    display:flex;
    justify-content: center;
}

.formulario-wrapper {
    display:block;
    width:50%;
    margin: 0 auto;

    background-color:rgb(255, 251, 227);
    border-radius:12px;
}

.formulario {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 200%;
}

input {
    padding:10px 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius:12px;
    outline:none;
}

input:focus {
    border-color: #ff7a00;
    box-shadow: 0 0 5px rgba(255, 122, 0, 0.3);
}

button {
  background-color: #ff7a00;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background-color: #e66900;
}

button a {
    background-color: transparent;
}
/*---------------------ESTILOS FOOTER---------------*/

footer {
    position:relative;
    display:block;
    max-height:1%;
    background-image: url("imagenes/madera-footer.png");
    background-position:center;
}

.pedir-receta a {
    border-radius:10px;
    margin-top:1%;
}

.pedir-receta {
    display:flex;
    justify-content:center;
}

.footer-lista {
    position:absolute 90%;
    display:flex;
    justify-content:flex-end;
    gap:0.5%
}

.footer-lista img {
    max-height:30px;
}

/*--------------------------------------------- */
