* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

header {
    position:sticky;
    display:flex;
    top:0;
    right:0;
    background-image: url("imagenes/cabecera.png");
    background-size:cover;
    background-position: center;
    height:20vh;
    justify-content:space-between;
}

.logo {
    position:static;
    display:inline-block;
    height:70%;
}

.titulo {
    padding-left:20%;
    font-size:larger;
    display:flex;
    flex-direction: column;
    text-align:center;
    justify-content:center;
}

.lista-menu-superior {
    display:flex;
    justify-content:flex-end;
    gap: 10px;
    padding: 1%;
    white-space: nowrap;
    font-size:large;
}

.lista-menu-superior a {
    display:block;
    padding: 10px 20px;
    border-radius:10px;
    color:blanchedalmond;
    background-color:rgb(247, 175, 67)
}

.lista-menu-superior a:hover {
    color:rgb(250, 195, 112);
    color:white;
}


.cuerpo {
    position:static;
    background-color:rgb(255, 242, 226);
    min-height: 100%;
    min-width: 100%;
    margin-bottom:auto;
}

.index-lista {
    display:flex;
    justify-content:center;
    justify-content:space-evenly;
}

.index-lista a {
    text-decoration: none;
    color:rgb(255, 214, 127)
}

.index-lista a:hover {
    color:rgb(255, 174, 0)
}

.carrusel1 {
    display:block;
    align-items:center;
    margin-top:10%;
    width: 250%;
    aspect-ratio: 16 / 9;
    border-radius:10px;
    background-image: url("imagenes/pplatos.png");
    background-size: cover;
    background-position: center;
}

.carrusel2 {
    display:block;
    align-items:center;
    margin-top:10%;
    width: 250%;
    aspect-ratio: 16 / 9;
    border-radius:10px;
    background-image: url("imagenes/splatos.png");
    background-size: cover;
    background-position: center;
}

.carrusel3 {
    display:block;
    align-items:center;
    margin-top:10%;
    width: 250%;
    aspect-ratio: 16 / 9;
    border-radius:10px;
    background-image: url("imagenes/postres.png");
    background-size: cover;
    background-position: center;
}


footer {
    position:relative;
    display:block;
    max-height:1%;
    background-image: url("imagenes/madera-footer.png");
    background-position:center;
}

.pedir-receta a {
    color:blanchedalmond;
    background-color:rgb(247, 175, 67);
    border-radius:10px;
    margin-top:1%;
}

.pedir-receta a:hover {
    color:white;
}

.pedir-receta {
    display:flex;
    justify-content:center;
}

.footer-lista {
    position:absolute 90%;
    display:flex;
    justify-content:flex-end;
    gap:0.5%
}

.footer-lista img {
    max-height:30px;
}