* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color:blanchedalmond;
    background-color:rgb(247, 175, 67)
}

a:hover {
    color:white;
}

ul{
    list-style: none;
}

header {
    position:sticky;
    display:flex;
    top:0;
    right:0;
    background-image: url("imagenes/cabecera.png");
    background-size:cover;
    background-position: center;
    height:20vh;
    justify-content:space-between;
}

.logo {
    position:static;
    display:inline-block;
    height:70%;
}

.titulo {
    padding-left:20%;
    font-size:larger;
    display:flex;
    flex-direction: column;
    text-align:center;
    justify-content:center;
}

.lista-menu-superior {
    display:flex;
    justify-content:flex-end;
    gap: 10px;
    padding: 1%;
    white-space: nowrap;
    font-size:large;
}

.lista-menu-superior a {
    display:block;
    padding: 10px 20px;
    border-radius:10px;
}

.cuerpo {
    position:static;
    background-color:rgb(255, 242, 226);
    min-height: 100%;
    min-width: 100%;
    margin-bottom:auto;
    padding:1%;
}

.navegacion-index-lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
}

.nav-menu {
    display:flex;
    align-items: center;
    justify-content:center;
    aspect-ratio: 4 / 3;
    border-radius: 12px;
    background-size: cover;
    background-position:center;
}

.nav-menu:hover{
    background-size:250%;
}

.navegacion-index-lista a {
    text-decoration:none;
    text-shadow:
        2px 2px 4px black,
       -2px 2px 4px black,
        2px -2px 4px black,
       -2px -2px 4px black;
    color:rgb(255, 214, 127);
    background-color: aliceblue;
}

.navegacion-index-lista a:hover {
    color:rgb(255, 174, 0);
}


.nm1 {
    background-image: url("imagenes/pplatos.png");
}

.nm2 {
    background-image: url(imagenes/splatos.png);
}

.nm3 {
    background-image: url(imagenes/postres.png);
}

.recetas-recientes {
    padding-top:1%;
}

.recetas-recientes h2 {
    display:flex;
    align-items: center;
    justify-content: center;
}

.recetas-recientes img {
    max-width: 450px;
    width:100%;
    height:100%;
    border-radius:12px;
}

.recetas-recientes a {
    color:rgb(255, 174, 0);
    background-color:rgb(255, 242, 226);
}

.recetas-recientes a:hover{
    color:rgb(192, 127, 41);
}

footer {
    position:relative;
    display:block;
    max-height:1%;
    background-image: url("imagenes/madera-footer.png");
    background-position:center;
}

.pedir-receta a {
    border-radius:10px;
    margin-top:1%;
}

.pedir-receta {
    display:flex;
    justify-content:center;
}

.footer-lista {
    position:absolute 90%;
    display:flex;
    justify-content:flex-end;
    gap:0.5%
}

.footer-lista img {
    max-height:30px;
}
